@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Azure Key Vault Demo</h2><br />
    <p class="lead">This .NET Framework 4.7 project demonstrates fetching secrets from Azure Key Vault in four different ways: 
    App Service Appilcation Settings referece, using the Key Vault .NET SDK, using the ASP.NET configBuilder and manually calling the
    Key Vault REST API.</p>
</div>