@{
    ViewData["Title"] = "Secrets";
}
<h1>@ViewData["Title"]</h1>

<h2>
    <pre>
               secret1 = @ViewBag.secret1
        GitHub--ApiKey = @ViewBag.ApiKey1
        GitHub--ApiKey = @ViewBag.ApiKey2
    </pre>
</h2>
